@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', cursive;
}

.app {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
}

aside {
    width: 60%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

main {
    width: -webkit-fill-available;
    background: #e5ddd5;
    background-color: gray;
    display: flex;
    flex-direction: column;
    background-size: contain;
}
header .avatar-component{
    margin-top: 5px;
    display: flex;
    align-items: center;
    align-self: flex-start;
}
header .avatar-component .avatar{
    height: 4.3rem;
    border-radius: 50%;
    margin: 0 0.75rem 0 0;
    margin-top: 15px;
}
header .avatar-component h3{
    color: rgb(60,61,63);
    font-size: 21px;
    letter-spacing: 1px;

}
.chats {
    flex: 1;
    padding: 0 0.3rem 0 1.2rem;
    overflow-y: auto;
    background-color: rgb(233, 233, 233);
}

.avatar {
    height: 3.3rem;
    border-radius: 50%;
    margin: 0 0.75rem 0 0;
}

.search {
    height: 2.75rem;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}

.search input[type='text'] {
    background-color: gray;
    background-repeat: no-repeat;
    background-size: 1rem, 1rem;
    background-position: 0.45rem 0.35rem;
    padding-left: 2rem;
}
.contact-boxes {
    overflow-y: auto;
    flex: 1;
    background-color: rgb(25, 26, 30);
}
.contact-box {
    border-bottom: 1px solid rgb(119, 119, 120);
    background-color: rgb(25, 26, 30);
    padding: 0.75rem 0.75rem;
    padding-top: 20px;
    display: flex;
    align-items: center;
    height: 5.8em;
    cursor: pointer;
}
.contact-box:hover {
    /*background: rgba(255, 255, 255, 0.2);
    border-right-color: rgb(255, 0, 0);
    border-bottom-color: #ceccd3;
    box-sizing: border-box;
    border-width: 2px;
    border-style: inherit;*/
    background: rgba(255, 255, 255, 0.2);
}
.contact-box:active,.contact-box:focus, .contact-box.active{
    background: rgba(255, 255, 255, 0.2);
    border-right-color: rgb(255, 0, 0);
    border-left-color: transparent;
    border-top-color: transparent;
    box-sizing: border-box;
    border-right-width: 3px;
    border-style: solid;
}

main header,
aside header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main header {
    background-color: #fff;
    justify-content: flex-start;
    padding: 0 2rem;
    height: 7em;
}

.time-mark {
    color: #ceccd3;
    font-size: 10px;
}
.text {
    color: #ceccd3;
    font-size: 11px;
}

.avatar-title {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
}
.avatar-sub-title {
    margin-top: 3px;
    color: rgb(145,145,145);
    font-size: 15px;
    font-weight: 600;
}
.avatar-component {
    display: flex;
    align-items: center;
    align-self: flex-start;
}
.avatar-component h3{
    color: black;
}
.right-section {
    color: white;
    width: 100%;
    align-self: self-start;
}
.contact-box-header {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.25rem;
}
.icon-small {
    width: 0.85rem;
    margin: 0 0.25rem;
}
.last-msg {
    display: flex;
    align-items: flex-end;
}
.chat-input-box {
    display: flex;
    height: 3.5rem;
    align-items: center;
    background: #fff;
    justify-content: space-between;
    padding-left: 10px;
}

aside header {
    padding: 0 0.75rem;
}

.icon {
    width: 0.75rem;
    margin: 0 0.5rem;
    cursor: pointer;
}
#statusIcon {
    width: 1.25rem;
}
input {
    border: none;
    border-radius: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
}

.chat-input input {
    height: 2rem;
    font-size: 14px;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 3px;
}
input:focus {
    outline: none;
}

.emoji-selector {
    width: 5%;
    text-align: center;
}
.chat-input {
    width: 85%;
    border-radius: 1rem;
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(240, 240, 240);
}
.send {
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 9em;
    text-align: center;
    background-color: rgb(240, 240, 240);
    color: rgb(119, 119, 119);
}
.send p{
    font-size: 15px;
    font-weight: 600;
}

.message {
    box-shadow: 2px 2px 5px #999;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: rgb(145,145,145);;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 10px 15px 15px 15px;
    position: relative;
    max-width: 62%;
    word-wrap: break-word;
}

.message::before {
    box-shadow: 2px #999;
    position: absolute;
    left: -10px;
    top: 0;
    content: '';
    display: block;
    border: solid;
    border-width: 0px 16px 16px 0px;
    border-color: transparent;
    border-right-color: #fff;
}
.message.received {
    justify-content: flex-start;
    flex-direction: row-reverse;
    transform-origin: left;
    background: #fff;
    border-radius: 0px 5px 5px 5px;
}
.message.sent::before {
    left: auto;
    right: -28px;
    border-width: 0px 16px 16px 16px;
    border-color: transparent;
    border-left-color: rgb(249, 238, 237);;
}

.message.sent {
    justify-content: flex-start;
    background: rgb(249, 238, 237);;
    border-radius: 5px 0px 5px 5px;
    float: right;
    margin-right: 25px;
}
.avatarMsg{
    height: 2.6rem;
    border-radius: 50%;
    margin: 0 0.75rem 0 0;
}

.welcome {
    background: #f8f9fa;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.welcome h2 {
    margin-top: 2rem;
    font-weight: normal;
}
.welcome img {
    width: 300px;
}

.metadata {
    float: right;
    font-size: 16px;
    line-height: 25px;
    position: relative;
    bottom: -4px;
}

.metadata .date {
    color: rgba(0, 0, 0, 0.45);
    font-size: 11px;
    display: inline-block;
}

/* NUEVO */
/* logo psh arriba de los chats */
.chatlist__heading{
    display: flex;
    background: linear-gradient(to left, rgb(255, 0, 0), rgb(255, 0, 0), rgb(176, 36, 24));
    align-items: center;
    padding-left: 15px;
    height: 90px;
    justify-content: flex-start;
}
.chatlist__heading h2{
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.psh__logo img{
    margin-right: 10px;
    margin-left: 10px;
    width: 55px;
    height: 55px;
}

/* BOTON NEW CHAT*/
.btn {
    background-color:rgb(25, 26, 30);
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 47px;
    line-height: 47px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.02);
    display: flex;
    padding: 0;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
  }
  .btn:hover{
    background-color: rgb(255, 0, 0);
    color: #fff;
  }
  .btn:hover i, .btn:hover span{
    color: #fff;
  }
  .btn i {
    color: rgb(181,181,181);
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: lighter;
    font-size: 22px;
  }
  .btn span {
    color: rgb(181,181,181);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .chat__item{
    color: rgb(145,145,145);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 35px;
    margin-top: 25px;
  }
  .chat__item.other {
    flex-direction: row-reverse;
    transform-origin: left;
  }
  .chat__item span{
    align-self: end;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
  }

  /* MEDIA QUERYS */
@media (max-width: 650px) {
    .avatar-title{
        font-size: 13px;
    }
    .text{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 125px;
    }
}
  @media (max-width: 500px) {
 aside{
    max-width: 100px;
 }   
 .psh__logo img {
    margin-right: 10px;
    margin-left: 10px;
    width: 35px;
    height: 35px;
}
.chatlist__heading{
    display: grid;
    justify-content: center;
    align-content: center;
}
.chatlist__heading h2 {
    font-size: 11px;
}
.contact-box{
    padding-top: 10px;
    display: block;
}
.right-section{
    text-align: center;
}
.last-msg, .time-mark{
    display: none;
}
.avatar{
    height: 2.7rem;
}
.btn span{
    display: none;
}
.avatar-component{
    justify-content: center;
}
}